@import url("reset.css");

*,
*:before,
*:after {
    box-sizing: border-box;
}


body{
    font-family: 'Inter', sans-serif;
    background: grey;
}

.cv{
    width: 892.5px;
    margin: 30px auto;
    position: relative;
    background: #fff;
    display: flex;
}

.cv:before{
    content: '';
    display: block;

    width: 100%;
    height: 170px;
    background: #FFD0C2;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 100%);

    position: absolute;
    top: 0;
    left: 0;
}

/*=====cv__left=====*/

.cv__left{
    width: 30%;
    background: rgba(191, 191, 191, 0.1);
}

.cv__photo{
    margin-top: 92px;
}

/*logo*/

.logo{
    border-radius: 50%;
    margin-left: 50px;
    position: relative;
    z-index: 50;
}

.logo__text{
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 0 24px;
    margin-top: 27px;
}

/*contacts*/

.contacts{
    margin-top: 70px;
}

.contacts__inner{
    padding-left: 41px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 18px;
}

.contacts__title{
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
    color: #79819A;
}

.contacts__title:before{
    content: '';
    display: block;

    width: 32px;
    height: 32px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.email:before{
    background: url('../image/css_sprites.png') -10px -192px;
}

.number:before{
    background: url('../image/css_sprites.png') -10px -244px;
}

.adress:before{
    background: url('../image/css_sprites.png') -10px -296px;
}

.contacts__content{
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

/*socials*/

.social{
    margin: 60px 0 0 24px;
}

.social__title{
    display: block;
    font-size: 13px;
    color: #79819A;
    margin-bottom: 20px;
}

.social__item{
    margin-bottom: 20px;
}

.social__link{
    display: inline-block;
    color: #79819A;
    font-size: 13px;
    text-decoration: none;
    padding: 7px 0 7px 45px;
    position: relative;
}

.social__link:hover{
    color: #525972;
}

.social__link:before{
    content: '';
    display: block;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
}

.instagram:before{
    background: url('../image/css_sprites.png') -10px -92px;
}

.telegram:before{
    background: url('../image/css_sprites.png') -10px -142px;
}

.git:before{
    background: url('../image/css_sprites.png') -10px -42px;
}


/*=====cv__right=====*/

.cv__right{
    padding-left: 20px;
    width: 70%;
}

.name{
    display: block;
    color: #2E2E48;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    margin: 140px 0 15px 0;
}

.profession{
    display: block;
    color: #2E2E48;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 70px;

}

.about__title{
    display: block;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
    padding-bottom: 22px;
    position: relative;
    margin-top: 50px;
}

.about__title:before{
    content: '';
    display: block;

    width: 80px;
    height: 8px;
    background: #FFBDA8;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
}

/*work__logo*/

.work{
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 50px 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e0e0;
}

.work__logo{
    width: 45%;
}

.work__data{
    display: flex;
}

.data__style{
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.data{
    padding-left: 26px;
    position: relative;
    color: #47516B;
}

.data:before{
    content: '';
    display: block;

    width: 8px;
    height: 8px;
    background: #000;
    border-radius: 50%;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.map{
    text-decoration: none;
    color: #79819A;
    position: relative;
    padding-left: 15px;
    margin-left: 13px;
}

.map:hover{
    text-decoration: underline;
}

.map:before{
    display: block;
    content: '';

    position: absolute;
    left: 0;
    top: -4px;

    width: 12px;
    height: 12px;
    background: url('../image/css_sprites.png') -10px -10px;
}

.company{
    padding-left: 90px;
    margin-top: 30px;
    position: relative;
}

.company:before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.agent:before{
    background: url('../image/css_sprites.png') -10px -428px;
}

.econom:before{
    background: url('../image/css_sprites.png') -10px -588px;
}

.univer:before{
    background: url('../image/css_sprites.png') -10px -508px;
}

.hilel:before{
    background: url('../image/css_sprites.png') -10px -348px;
}

.post{
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    margin-bottom: 14px;
    color: #79819A;
}

.company__name{
    width: 105px;
    display: inline-block;
    color: #2E2E48;
    font-size: 19px;
    font-weight: 500;
    line-height: 20px;
}

.work__content{
    padding: 0 0 0 20px;
    width: 55%;
}

.work__text{
    display: block;
    font-size: 11px;
    color: #606880;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 20px;
}

.work__text:last-child{
    margin-bottom: 0;
}

/*icons*/

.icons{
    display: flex;
    margin-bottom: 40px;
}

.ic1{
    justify-content: space-evenly;
    margin-top: 30px;
}

.icon__logo{
    display: block;
    border-radius: 15px;
    box-shadow: 47px 24px 73px -34px rgba(0,0,0,0.75);
}

.ic2{
    justify-content: center
}

.ic__logo2{
    margin: 0 40px;
}



















